**/.classpath
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.egg-info
**/*.log
**/archive-reports
**/bin
**/build
**/data/generated
**/docs/generated
**/include
**/lib
**/logs
**/out
**/tmp
**/vendor
**/venv
**/__pycache__
